.form {
    align-items: center;
    justify-content: center;
    /* text-align: center; */

}

.tileStyle {
    align-items: -webkit-center;
    background: #c2853f;
    border: none;
    border-bottom: .5vw solid #975a14;
    border-right: .5vw solid #975a14;
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);
    font-size: 9vw;
    color: #000;
    justify-content: -webkit-center;
    text-align: -webkit-center;
    height: 10vw;
    width: 10vw;
    line-height: 1;
    margin: 0 0.5vw 2vw 0.5vw;
}
.tileStyle:focus {
    background: #d68a32;
    border: none;
    border-bottom: .5vw solid #7c4a11;
    border-right: .5vw solid #7c4a11;
    outline: none;
}
.tileStyle:hover {
    background: #d68a32;
    border: none;
    border-bottom: .5vw solid #7c4a11;
    border-right: .5vw solid #7c4a11;
    outline: none;
}

.form-button__display {
    background: #975a14;
    border: none;
    font-size: 3vw;
    text-align: center;
    letter-spacing: 0.25vw;
    padding: 0 15vw;
}
.form-button__display:hover {
    background: #d68a32;
    outline: none;
}
.form-button__display:focus {
    background: #d68a32;
    outline: none;
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
}