.wrapper {
    background: #372600;    /* linear-gradient(to right, #e67e22, #e74c3c); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    align-items: center;
    background: #df9b34;
    color: #653a0a;
    display: flex;
    /* height: 10vh; */
    justify-content: center;
    text-align: center;
}

.form-container {
    background-color: #bf905e;
    height: 90vh;
    padding-top: 10px;
}

.headings {
    /* border-bottom: 5px solid #372600; */
}